.image {
  width: 100%;
  height: 455px;
  background-color: #F2F0FF;
  position: relative;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
}

.imgText {
  position: absolute;
  color: #000000;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 36px;
  font-weight: bold;
  text-align: left;
}

.imgText p {
  margin-top: 0%;
  font-size: 17px;
}

#products {
  display: flex;
  justify-content: center;
  /* Center items */
  flex-wrap: wrap;
  /* Allow wrapping */
  gap: 20px;
  margin: 20px;
  padding: 0 10px;
}

.product-card {
  flex: 0 0 calc(25% - 20px);
  /* 4 items per row */
  background-color: #fff;
  padding: 15px;
  text-align: center;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  transition: all 0.3s ease;
  font-size: 14px;
  box-sizing: border-box;
  min-width: 200px;
  border: none;
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.product-card img {
  width: 100%;
  height: 150px;
  object-fit: contain;
  margin-bottom: 15px;
  background-color: #f6f7fb;
  padding: 10px;
  border-radius: 5px;
}

.product-card h3 {
  font-size: 18px;
  margin: 10px 0;
  color: #FB2E86;
  /* Pink color from Hekto */
  font-weight: 700;
}

.product-card p {
  font-size: 14px;
  color: #151875;
  /* Dark Blue from Hekto */
  font-weight: 400;
}

@media (max-width: 1024px) {
  .product-card {
    flex: 0 0 calc(33.33% - 20px);
    /* 3 items per row */
  }
}

@media (max-width: 768px) {
  .product-card {
    flex: 0 0 calc(50% - 20px);
    /* 2 items per row */
  }
}

@media (max-width: 480px) {
  .product-card {
    flex: 0 0 100%;
    /* 1 item per row */
  }
}